# Игнорировать всё в папке target
target/*

# Исключение: разрешить файлы JAR в папке target
!target/*.jar

# Исключение для target в src/main и src/test (если требуется)
!**/src/main/**/target/
!**/src/test/**/target/

# Игнорирование и разрешение для build
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Исключения для Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

# Стандартные игнорируемые файлы и папки для IDE и инструментов
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
